.log{
    background-color: bisque;
    width:350px;
    height:150px;
    margin-top:10px;
    margin-left:35%;
    padding:10px;
}
.btn1{
    padding:5px;
    border-radius: 20px;
    background-color: blue;
    color:white;
    width:80px;
}
.a1{
    color:blue;
    text-decoration: underline;
}
