.menu{
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}
.menu-button{
    padding:8px;
    border-radius:20px;
    font-weight: bolder;
    font-size: 30px;
    background-color: blue;
    color:white;
    width:300px;
}
.menu-button:hover{
    background-color: brown;
}
.menu-img{
    display:flex;
    margin-left:25%;
}
h1{
    text-align: center;
}